<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles(title)">
    <meta charset="UTF-8"/>
    <link th:href="@{/css/stylesheet.css?version=2}" rel="stylesheet">
</head>
<body>

<nav th:fragment="header" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <div th:if="${userDetails}">
                    <a class="btn btn-secondary" href="/logout">Logout</a>
                    <a class="ml-3" th:href="'/user/'+${credentials.user.id}" th:text="${userDetails.username}"></a>
                </div>
                <div th:unless="${userDetails}">
                    <a class="btn btn-primary" href="/login">Login</a>
                </div>
            </li>
        </ul>

        <form th:action="'/findUserByUsername'" method="POST" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" name="Username" type="text" placeholder="Cerca utenti"
                   aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Cerca</button>
        </form>
    </div>
</nav>

<footer th:fragment="footer">
    <a th:href="@{/}">Home</a>
</footer>
</body>
</html>