body {
    font-family: "Geneva", serif;
    color:dimgrey;
    font-size:larger;
}

a { 
	text-decoration: none; 
    color: darkgrey;
}

a:hover { 
	text-decoration: underline; 
}

.titolo{
    margin-right: 15%;
}

