<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Giochi in comune</title>
</head>
<div> questi sono i giochi che avete in comune!!!!</div>
<body>
<div th:if="${messaggioErrore}">
    <div th:text="${messaggioErrore}"></div>
</div>
<div th:each=" gioco:${games}">
  <div th:text="${gioco.name}"></div>
</div>
<a th:href="'/user/'+${credentials.user.id}">Torna al tuo profilo</a>
<a th:href="'/user/'+${user.id}">Torna al profilo di ${user.username}</a>
<a th:href="/">Torna alla home</a>
</body>
</html>