<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Giochi in comune</title>
</head>
<div> questi sono i giochi che avete in comune!!!!</div>
<body>
<div th:if="${messaggioErrore}">
    <div th:text="${messaggioErrore}"></div>
</div>
<div th:each=" gioco:${games}">
  <div th:text="${gioco.name}"></div>
</div>
<a th:href="'/user/'+${userA.id}" th:text="'vai al profilo di '+${userA.username}">Torna al profilo di a</a>
<a th:href="'/user/'+${userB.id}" th:text="'vai al profilo di '+${userB.username}">Vai al profilo di b</a>
<a th:href="'/'">Torna alla home</a>
</body>
</html>