<!DOCTYPE html>
<html lang="en">
<head>
    <title>Confronto fra giochi - GameHub</title>
    <meta th:replace="~{fragments/header.html :: metaFragment}"/>
    <link th:replace="~{fragments/header.html :: stylesheetFragment}"/>
    <link th:replace="~{fragments/bootstrap.html :: bsCss}" />
    <style>
        body {
            padding-top: 70px;
        }
        .jumbotron {
            background-color: #f8f9fa;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .game-list {
            margin-top: 20px;
        }
        .profile-links {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<nav th:replace="~{fragments/loginHeader.html :: header}"></nav>
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Giochi in comune</h1>
        <p>Questa è la lista dei giochi in comune fra <a th:text="${userA.username}" th:href="'/user/' + ${userA.id}"></a> e <a th:text="${userB.username}" th:href="'/user/' + ${userB.id}"></a></p>
    </div>
</div>
<div class="container">
    <div th:if="${messaggioErrore}" class="alert alert-danger" role="alert">
        <div th:text="${messaggioErrore}"></div>
    </div>
    <table class="table table-striped">
        <tbody>
        <tr th:each="game : ${games}">
            <td>
                <a th:text="${game.name}" th:href="'https://store.steampowered.com/app/' + ${game.steamcode}"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:replace="~{fragments/footer.html :: footer}"></footer>
<div th:replace="~{fragments/bootstrap.html :: bsScript}"></div>
</body>
</html>
