<!doctype html>
<html lang="en">
<head>
    <title>
        Seguaci - GameHub
    </title>
    <meta th:replace="~{fragments/header.html :: metaFragment}"/>
    <link th:replace="~{fragments/header.html :: stylesheetFragment}"/>
    <link th:replace="~{fragments/bootstrap.html :: bsCss}"/>
</head>

<body>
<nav th:replace="~{fragments/loginHeader.html :: header}"></nav>
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Followers</h1>
        <p>più sono meglio è!</p>
    </div>
</div>
<div class="container">
    <div th:if="${user.followers.isEmpty()}">strano... non ti segue nessuno... fatti due domande</div>
    <table class="table table-striped">
        <tbody>
        <tr th:each="follow : ${user.followers}">
            <td>
                <a th:href="@{'/user/' + ${follow.follower.id}}" th:text="${follow.follower.username}">Up!
                    (2000)</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="'/user/'+${credentials.user.id}">Torna al tuo profilo</a>
</div>
<footer th:replace="~{fragments/footer.html :: footer}"></footer>
<div th:replace="~{fragments/bootstrap.html :: bsScript}"></div>
</body>
</html>