<!doctype html>
<html lang="en">
<head>
    <title>
        Followers
    </title>
    <meta th:replace="~{fragments/header.html :: metaFragment}"/>
    <link th:replace="~{fragments/header.html :: stylesheetFragment}"/>
    <link th:replace="~{fragments/bootstrap.html :: bsCss}" />
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <div>
                    <a th:href="'/user/'+${credentials.user.id}" th:text="${credentials.user.username}" ></a>
                    <a href="/logout">Logout</a>
                </div>

            </li>
        </ul>

        <form th:action="'/findUserByUsername'" method="POST" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" name="Username" type="text" placeholder="Cerca utenti" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Cerca</button>
        </form>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Followers</h1>
        <p>più sono meglio è!</p>
    </div>
</div>
<div th:if="${user.followers.isEmpty()}">strano... non ti segue nessuno... fatti due domande</div>
<table class="table table-striped">
        <tbody>
    <tr th:each="follow : ${user.followers}">
        <td>
            <a th:href="@{'/user/' + ${follow.follower.id}}" th:text="${follow.follower.username}">Up!
                (2000)</a>
        </td>
    </tr>
    </tbody>
</table>
    <a th:href="'/user/'+${credentials.user.id}">Torna al tuo profilo</a>


<footer class="container">
    <p>&copy; Giovy e Lollo</p>
</footer>
<div th:replace="~{fragments/bootstrap.html :: bsScript}"></div>
</body>

</html>