<!DOCTYPE html>
<html>

<head>
	<title>Followed - GameHub</title>
</head>

<body>
	<h1>I contatti che segui</h1>

	<div th:if="${user.followed.isEmpty()}">non segui nessuno, datti una mossa!</div>
	<ul>
		<li th:each="follow : ${user.followed}">
			<a th:href="@{'/user/' + ${follow.followed.id}}" th:text="${follow.followed.username}">Up!
				(2000)</a>
		</li>
	</ul>
	</div>
	<a th:href="'/user/'+${credentials.user.id}">Torna al tuo profilo</a>
	<a th:href="/">Torna alla home</a>
</body>

</html>