<!DOCTYPE html>
<html>

<head>
    <title>Followers - GameHub</title>
</head>

<body>
<h1>Contatti che ti seguono</h1>

<div th:if="${user.followers.isEmpty()}">strano... non ti segue nessuno... fatti due domande</div>
<div>
    <ul>
        <li th:each="follow : ${user.followers}">
            <a th:href="@{'/user/' + ${follow.follower.id}}" th:text="${follow.follower.username}">Up!
                (2000)</a>
        </li>
    </ul>
    <a th:href="'/user/'+${credentials.user.id}">Torna al tuo profilo</a>
    <a th:href="'/'">Torna alla home</a>
</div>

</body>

</html>