<!DOCTYPE html>
<html lang="en">
<head>
    <meta th:replace="~{fragments/header.html :: metaFragment}"/>
    <link th:replace="~{fragments/header.html :: stylesheetFragment}"/>
    <link th:replace="~{fragments/bootstrap.html :: bsCss}"/>
    <title>Errore follow - GameHub</title>
</head>
<body>
<nav th:replace="~{fragments/loginHeader.html :: header}"></nav>
<div class="container">
    stai provando a fare qualcosa di strano con sti follow?
    nun lo fa... nun lo fa...
    <span th:text="${messaggioErrore}"></span>
</div>
<div th:replace="~{fragments/bootstrap.html :: bsScript}"></div>
</body>
</html>