<!DOCTYPE html>
<html lang="en">
<head>
    <meta th:replace="~{fragments/header.html :: metaFragment}"/>
    <link th:replace="~{fragments/header.html :: stylesheetFragment}"/>
    <link th:replace="~{fragments/bootstrap.html :: bsCss}" />
    <title>Cerca un utente per username</title>
</head>
<body>
    <form th:action="'/findUserByUsername'" method="POST">
        <label>
            <input name="username" type="text"/>
        </label>
        <span><button type="submit">Cerca</button></span>
    </form>
    <div th:replace="~{fragments/bootstrap.html :: bsScript}"></div>
</body>
</html>