<!doctype html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

	<title>GIOCHI</title>

	<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/jumbotron/">

	<!-- Bootstrap core CSS -->
	<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="jumbotron.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<div>
					<a href="/user/1">ciao</a>
					<a href="/logout">Logout</a>
				</div>

			</li>
		</ul>

		<form action="/findUserByUsername" method="POST" class="form-inline my-2 my-lg-0"><input type="hidden" name="_csrf" value="X8kMI53y1b2Y_AJ-gSOZvOeRjwAM6y_3OEHeyCvzeFlgfNIWPv5oFKzD7Yq1zDtJuQ6t3db3ojhvjk7aW3bmrhjHG2oBTrMl"/>
			<input class="form-control mr-sm-2" name="username" type="text" placeholder="Cerca utenti" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Cerca</button>
		</form>
	</div>
</nav>

<div class="jumbotron">
	<div class="container">
		<h1 class="display-3">I nostri giochi</h1>
		<p>Questa è una lista dei nostri giochi... TUTTI i nostri giochi</p>
	</div>
</div>

<table class="table table-striped">
	<thead>
	<tr>
		<th>Nomi</th>
	</tr>
	</thead>
	<tbody>
	<tr th:each="game : ${games}">
		<td>
			<a th:text="${game.name}" th:href="'https://store.steampowered.com/app/' + ${game.steamcode}"></a>
		</td>
	</tr>
	</tbody>
</table>
<footer class="container">
	<p>&copy; Giovy e Lollo</p>
</footer>

</body>
</html>