<!doctype html>
<html lang="en">
<head>
    <title>GIOCHI</title>
    <meta th:replace="~{fragments/header.html :: metaFragment}"/>
    <link th:replace="~{fragments/header.html :: stylesheetFragment}"/>
    <link th:replace="~{fragments/bootstrap.html :: bsCss}"/>
</head>

<body>
<nav th:replace="~{fragments/loginHeader.html :: header}"></nav>
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3" th:text="${titoloListaGiochi}">Titolo lista giochi</h1>
        <p>Spizzate un po' sti giochi</p>
    </div>
</div>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nomi</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="game : ${games}">
            <td>
                <a th:text="${game.name}" th:href="'https://store.steampowered.com/app/' + ${game.steamcode}"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:replace="~{fragments/footer.html :: footer}"></footer>
<div th:replace="~{fragments/bootstrap.html :: bsScript}"></div>
</body>
</html>