<!doctype html>
<html lang="en">
<head>
    <title>Homepage - GameHub</title>
    <meta th:replace="~{fragments/header.html :: metaFragment}"/>
    <link th:replace="~{fragments/header.html :: stylesheetFragment}"/>
    <link th:replace="~{fragments/bootstrap.html :: bsCss}"/>
</head>

<body>
<nav th:replace="~{fragments/loginHeader.html :: header}"></nav>
<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col titolo">
                    <h1 class="display-3">GAME-HUB</h1>
                    <p>Trova i tuoi amici, seguitevi a vicenda, scoprite quali giochi avete in comune, giocate
                        insieme.</p>
                </div>
                <div class="col">
                    <img src="/images/logo.webp" alt="Logo del sito" style="height:100%;"/>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${userDetails}" class="container">
        <!-- Example row of columns -->
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h2>Vai al tuo profilo</h2>
                <p>entra nel tuo profilo, scopri chi ti segue, ricordati di chi segui, scopri a quali giochi hai
                    giocato
                    più spesso</p>
                <p><a class="btn btn-secondary" th:href="'/user/'+${credentials.user.id}" role="button">Il tuo
                    profilo
                    &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Guarda i giochi</h2>
                <p>Una lunghissima lista di tutti i giochi presenti nel nostro database, ora non potrai mai più dire
                    che
                    non sai a cosa giocare </p>
                <p><a class="btn btn-secondary" th:href="'/games'" role="button">Vedi giochi &raquo;</a></p>
            </div>
        </div>
    </div> <!-- /container -->
    <div th:unless="${userDetails}" class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h2>Registrati</h2>
                <p>Unisciti oggi e migliora la tua gaming experience.</p>
                <a class="btn btn-primary" href="/register">Registrati</a>
            </div>
            <div class="col-md-4">
                <h2>Come funziona</h2>
                <p>Registrati e collega il tuo account steam.</p>
                <p>Importa la lista dei tuoi giochi.</p>
                <p>Cerca i tuoi amici per confrontare i giochi che avete in comune.</p>
            </div>
            <div class="col-md-4">
                <h2>Attenzione</h2>
                <p>Ricordati di impostare il profilo steam come pubblico. Se questo non viene fatto GameHub non sarà
                    in grado accedere ai tuoi dati o a quelli dei tuoi amici e non potremo assisterti</p>
                <p>Vuoi sapere come cambiare le impostazioni di privacy? <a
                        href="https://help.steampowered.com/it/faqs/view/588C-C67D-0251-C276">Visita questa
                    pagina!</a></p>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer.html :: footer}"></footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<div th:replace="~{fragments/bootstrap.html :: bsScript}"></div>
</body>
</html>
