<!DOCTYPE html>
<html>
	<head>
		<title>Homepage - GameHub</title>
		<link rel="stylesheet" href="/css/stylesheet.css?version=2"/>
	</head>
	<body>
		<header>
		<div th:if="${userDetails}">
			<a th:href="'/user/'+${credentials.user.id}" th:text="${userDetails.username}"></a>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${userDetails}">
			<a href="/login">Login</a>
		</div>
	</header>
		<h1>Benvenuto su gamehub</h1>
		<div>
			<a href="/formFindUserByUsername">Cerca utenti</a>
		</div>
		<div>
			<a href="/games">Visualizza giochi</a>
		</div>
	</body>
</html>