<!doctype html>
<html lang="en">
<head>
    <meta th:replace="~{fragments/header.html :: metaFragment}"/>
    <link th:replace="~{fragments/header.html :: stylesheetFragment}"/>
    <link th:replace="~{fragments/bootstrap.html :: bsCss}"/>
    <title>User - GameHub</title>
</head>

<body>
<nav th:replace="~{fragments/loginHeader.html :: header}"></nav>
<main role="main">
    <div class="mt-5" th:if="${user}">
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron container">
            <div class="row">
                <div class="col-md-4">
                    <a th:href="'/editUserPicture/'+${user.id}">
                        <div>
                            <div th:if="${user.hasProfilePicture()}">
                                <img th:src="${user.getProfilePicture()}"
                                     style="object-fit: contain;height: 184px; width:184px; background: blanchedalmond;">
                            </div>
                            <div th:unless="${user.hasProfilePicture()}">
                                <img src="/images/default_pfp.jpg"
                                     style="object-fit: contain;height: 184px; width:184px; background: blanchedalmond;">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <div th:text="${user.username}"></div>
                    <div th:text="${user.steamId}"></div>
                    <div th:if="${credentials.user.id != user.id}">
                        <div th:if="${giaSeguito==false}">
                            <a class="btn btn-primary mt-2" th:href="'/newFollow/'+${credentials.user.id}+'/'+${user.id}">Segui</a>
                        </div>
                        <div th:if="${giaSeguito==true}">
                            <a class="btn btn-secondary mt-2" th:href="'/deleteFollow/'+${credentials.user.id}+'/'+${user.id}">Smetti di Seguire</a>
                        </div>
                    </div>
                    <div th:if="${credentials.user.id != user.id}">
                        <a class="btn btn-primary mt-2" th:href="'/compareGames/'+${credentials.user.id}+'/'+${user.id}">Confronta i giochi</a>
                    </div>
                </div>
                <div class="col-md-4">

                    <div>
                        <div th:if="${user.steamId==null}">
                            <a th:href="'/login/'+${user.id}+'/steam'">connetti steam al
                                tuo account</a>
                            <div> INFORMAZIONI STEAM SOLO DOPO AVER OTTENUTO LO STEAM ID</div>
                        </div>
                        <div th:if="${user.steamId}">
                            <div th:if="${top5Played.isEmpty()}">non hai giocato a nessun
                                gioco nelle ultime 2 settimane, o il profilo è privato
                            </div>
                            <div th:if="${!top5Played.isEmpty()}">
                                Ecco i giochi a cui hai giocato recentemente
                            </div>

                            <div th:each="game : ${top5Played}">
                                <a th:href="'https://store.steampowered.com/app/' + ${game.steamcode}"
                                   th:text="${game.name}">Up!
                                    (2000)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-4">
                    <h2>Scopri chi ti segue</h2>
                    <p>Lo so che la vita del nerd è difficile, però ci sono persone che si interessano a te, scopri
                        chi! </p>
                    <p><a class="btn btn-secondary" th:href="'/followers/' +${user.id}" role="button">Followers
                        &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Ricordati di chi segui</h2>
                    <p>Vai a guardare le persone che hai ritenuto abbastanza interessanti da seguire! </p>
                    <p><a class="btn btn-secondary" th:href="'/followed/' +${user.id}" role="button">Followed
                        &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Giochi posseduti</h2>
                    <p>Ma a quanti giochi hai giocato? Qui ci sono tutti i motivi per cui non ti abbronzi neanche
                        d'estate! </p>
                    <span><a class="btn btn-secondary" th:href="'/ownedGames/'+${user.id}" role="button">Vedi giochi
                        &raquo;</a></span>
                    <span style="float:right;" th:if="${credentials.user.id == user.id}">
                        <a class="btn btn-secondary" th:href="@{'/updateOwnedGames/'+${user.id}}">Aggiorna giochi &raquo;</a>
                    </span>
                </div>
            </div>
        </div> <!-- /container -->
    </div>
    <div th:if="${messaggioErrore}">
        <div th:text="${messaggioErrore}"></div>
    </div>
</main>
<footer th:replace="~{fragments/footer.html :: footer}"></footer>
<div th:replace="~{fragments/bootstrap.html :: bsScript}"></div>
</body>
</html>
