<!DOCTYPE html>
<html>

<head>
	<title>User - GameHub</title>
</head>

<body>
	<h1>Utente</h1>
	<div th:if="${user.steamProfilePictureLink}">
		<img th:src="${user.steamProfilePictureLink}">
	</div>
	<div>
		<span th:text="'Username: '+${user.username}"></span>
	</div>
	<div>
		<span th:text="'Email: '+${user.email}"></span>
	</div>
	<div>
		<span th:text="'steamId: '+${user.steamId}"></span>
	</div>
	<div th:if="${user.steamId==null}">
		<a th:href="'/login/'+${user.id}+'/steam'">connetti steam al
			tuo account</a>
		<div> INFORMAZIONI STEAM SOLO DOPO AVER OTTENUTO LO STEAM ID</div>
	</div>
	<div th:if="${user.steamId}">
			<div th:if="${top5Played.isEmpty()}">non hai giocato a nessun
			gioco nelle ultime 2 settimane, o il profilo è privato</div>
		<ul>
			<li th:each="game : ${top5Played}">
				<a th:href="@{'/game' + '/' + ${game.id}}" th:text="${game.name}">Up!
					(2000)</a>
			</li>
		</ul>
		<div>
			<a th:href="@{'/updateOwnedGames/'+${user.id}}">aggiorna giochi
				posseduti</a>
		</div>
	</div>
	<div>
		<a th:href="@{'/followers/' +${user.id}}"> Followers </a>
	</div>
	<div>
		<a th:href="@{'/followed/' +${user.id}}"> Seguiti </a>
	</div>

	<div th:if="${credentials.user.id != user.id}">
		<div th:if="${giaSeguito==false}">
			<a th:href="'/newFollow/'+${credentials.user.id}+'/'+${user.id}">Segui</a>
		</div>
		<div th:if="${giaSeguito==true}">
			<a th:href="'/deleteFollow/'+${credentials.user.id}+'/'+${user.id}">Smetti di Seguire</a>
		</div>
	</div>

	<div th:if="${credentials.user.id != user.id}">
		<a th:href="'/compareGames/'+${credentials.user.id}+'/'+${user.id}">Confronta i giochi</a>
	</div>
</body>

</html>