<!doctype html>
<html lang="en">
<head>
    <meta th:replace="~{fragments/header.html :: metaFragment}"/>
    <link th:replace="~{fragments/header.html :: stylesheetFragment}"/>
    <link th:replace="~{fragments/bootstrap.html :: bsCss}"/>
    <title>Users - GameHub</title>
</head>

<body>
<nav th:replace="~{fragments/loginHeader.html :: header}"></nav>
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Utenti trovati</h1>
        <p>se non l'hai trovato cerca meglio!</p>
    </div>
</div>
<div th:if="${messaggioErrore}">
    <span th:text="${messaggioErrore}"></span>
</div>
<div th:if="${users.isEmpty()}">nessun utente trovato</div>
<div class="container">
    <table class="table table-striped">
        <tbody>
        <tr th:each="user : ${users}">
            <td>
                <a th:href="@{'/user/' + ${user.id}}" th:text="${user.username}">Up!
                    (2000)</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="'/user/'+${credentials.user.id}">Torna al tuo profilo</a>
</div>
<footer th:replace="~{fragments/footer.html :: footer}"></footer>
<div th:replace="~{fragments/bootstrap.html :: bsScript}"></div>
</body>
</html>
	