<!DOCTYPE html>
<html>
	<head>
		<title>User - GameHub</title>
	</head>
	<body>
		<h1>Utente</h1>
		<div>
			<span th:text="'Username: '+${webUser.username}"></span>
		</div>
		<div>
			<span th:text="'Email: '+${webUser.email}"></span>
		</div>
		<div>
			<span th:text="'steamId: '+${webUser.steamId}"></span>
		</div>
		<div>
			<a th:href="@{'/updateOwnedGames/'+${webUser.id}}">aggiorna giochi posseduti</a>
		</div>
		<div>
			<span th:text="'Utenti seguiti: '+${webUser.friendList.size}"></span>
		</div>
	</body>
</html>