<!DOCTYPE html>
<html>
	<head>
		<title>User - GameHub</title>
	</head>
	<body>
		<h1>Utente</h1>
		<div>
			<span th:text="'Username: '+${webUser.username}"></span>
		</div>
		<div>
			<span th:text="'Email: '+${webUser.email}"></span>
		</div>
		<div>
			<span th:text="'steamId: '+${webUser.steamId}"></span>
		</div>
		<div>
			<a th:href="'/login/'+${webUser.id}+'/steam'" >connetti steam al tuo account</a>
		</div>
		<div th:if="${webUser.steamId}">
			INFORMAZIONI STEAM SOLO DOPO AVER OTTENUTO LO STEAM ID
		</div>
	</body>
</html>