<!DOCTYPE html>
<html>
<head>
<title>User - GameHub</title>
</head>
<body>
	<h1>Utente</h1>
	<div>
		<span th:text="'Username: '+${webUser.username}"></span>
	</div>
	<div>
		<span th:text="'Email: '+${webUser.email}"></span>
	</div>
	<div>
		<span th:text="'steamId: '+${webUser.steamId}"></span>
	</div>
	<div>
		<a th:href="'/login/'+${webUser.id}+'/steam'">connetti steam al
			tuo account</a>
	</div>
	<div th:if="${webUser.steamId}">
		INFORMAZIONI STEAM SOLO DOPO AVER OTTENUTO LO STEAM ID
		<div th:if="${top5Played.isEmpty()}">non hai giocato a nessun
			gioco nelle ultime 2 settimane, o il tuo profilo è privato</div>
		<ul>
			<li th:each="game : ${top5Played}"><a href="game.html"
				th:href="@{'/game' + '/' + ${game.id}}" th:text="${game.name}">Up!
					(2000)</a></li>
		</ul>
		<div>
		<a th:href="@{'/updateOwnedGames/'+${webUser.id}}">aggiorna giochi
			posseduti</a>
	</div>
	</div>
</body>
</html>